
.searchBox1{
	border-color : grey ; 
	width : 15em;
}

.searchBox2{
	border-color : grey ; 
	width : 100%;
}


.dynamicWidthIncrease{
	border-color : black ; 
	width : 20em;
}

@media (min-width: 800px)
{
	.friendsIcon{
	width : 7em;	
	}		
}


@media (max-width: 799px)
{
	.friendsIcon{
	width : 5em;	
	}		
}

.friendsIcon2{
	width : 4em;	
}

@media (min-width : 1001px)
{
	.fntDynamicSize2{
		font-size : 20px;
	}
}
@media (max-width : 1000px) {
	.fntDynamicSize2{
		font-size : 15px;
	}		
}


@media (max-width: 500px) { 

	.fntDynamicSize{
		font-size : 20px;
				
	}

}

