<div [class.card-columns]="columnView" style=" margin-bottom: 3em ;" #reactivity >
  <div *ngFor = " let grp of groups_list " >
          <div [class.justify-content-around] = "!columnView" class = "d-flex  media mb-2 rounded " (click) = "showGroup(grp)" style="cursor: pointer;" >  
              <div>
                <img [class.superSmall]="superSmall" [class.extraSmall]="extraSmall" class="  mr-3 img-fluid friendsIcon" src="../../assets/groups2.png" alt="Card image">
              </div>
              <div [class.mr-4] = "!columnView" [class.ml-4] = "columnView">
                <div class = " d-flex align-self-center  media-body ">
                    <h4> {{grp.groupName}} </h4>
                    <!-- <button (click) = "addPerson(grp)" class = "bg-white extraSmall d-flex justify-content-between mr-4 rounded btn "><img class=" d-flex justify-content-end rounded-circle connectIcon" src="../../assets/Add-3.png" alt="Card image"></button> -->
                </div>
              </div>
          </div>
  </div>
</div>