.col-prm{
	 background-color: #212A2E;
}

.Close{
	background-image : url('../../assets/close-icon.png');
	background-size: 25px;
	height: 25px;
	width: 25px;
	cursor: pointer;
	position: absolute;
	margin-left: 90% ;
	margin-top: 13px
}

.requests{
	background-image : url('../../assets/requests.png');
	background-size: 35px;
	height: 35px;
	width: 35px;
	opacity: 1;
	cursor: pointer;
}

.createGroup{
	background-image : url('../../assets/icon-create-group.png');
	background-size: 30px;
	height: 30px;
	width: 30px;
	opacity: 1;
	cursor: pointer;
}

.navbar-toggler-icon{
	/* background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00'); */
	/* background-image: url('../../assets/hamburger1.png'); */
	margin-top: 0%;
	height: 30px;
	border: 0px
}

.horizontalLine{
	background-color: rgb(119, 117, 117);	
	height: 1px;
}

.menuItemsHamburger{
	cursor: pointer;
}



@media (max-width: 600px) { 
	.res_heading{
		font-size : 50px;

	}

	.res_para{
		font-size : 20px;
		color: #6B909E;		
	}

}

@media (min-width: 601px)
{
	.para{
		font-size: 25px ; 
		color: #6B909E;
	}
}

.dynamicWidthIncrease{
	border-color : black ; 
	width : 20em;
}

.peopleDropdown{
	position: absolute;
	z-index: 1;
	overflow-y: auto;
	width: 100%;
	margin-top: 37px;
	max-height: 300px;
	background-color: #F6F6F6;
}


.requestsDropdown{
	position: absolute;
	z-index: 1;
	overflow-y: auto;
	width: 16em;
	margin-top: 12px;
	margin-right: 100px;
	max-height: 300px;
	background-color: #F6F6F6;
}



@media (max-width: 399px) { 
	.requestsDropdownHamburger{
		position: absolute;
		z-index: 1;
		overflow-y: auto;
		width: 250px;
		margin-top: 12px;
		margin-right: 100px;
		max-height: 300px;
		background-color: #F6F6F6;
	}

}


@media (min-width: 400px)
{
	.requestsDropdownHamburger{
		position: absolute;
		z-index: 1;
		overflow-y: auto;
		width: 18em;
		margin-top: 12px;
		margin-right: 100px;
		max-height: 300px;
		background-color: #F6F6F6;
	}

}

.buttonStyle{
	width : 50px;
}



@media( min-width : 810px)
{
	.GroupsDropdown{
		position: absolute;
		z-index: 1;
		overflow-y: auto;
		max-width: 30em;
		margin-top: 12px;
		align-content: center;
		left: 30%;
		right :30%;
		max-height: 500px;
		background-color: #F6F6F6;
		box-shadow : 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
	}

}
@media( max-width : 809px ) and (min-width : 521px)
{
	.GroupsDropdown{
		position: absolute;
		z-index: 1;
		overflow-y: auto;
		max-width: 30em;
		margin-top: 12px;
		align-content: center;
		max-height: 500px;
		left: 15%;
		right :15%;
		background-color: #F6F6F6;
		box-shadow : 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);

	}
}	
@media( max-width : 520px)
{
	.GroupsDropdown{
		position: absolute;
		z-index: 1;
		overflow-y: auto;
		max-width: 100%;
		margin-top: 12px;
		align-content: center;
		max-height: 500px;
		background-color: #F6F6F6;
		box-shadow : 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);

	}
}	

.lessBright{
	/* opacity  : 0.2; */
	background-color : 	rgba(0, 0, 0, .4);
	filter: brightness(60%);
}


.TopPadd{
	padding-top: 4em;
}


TopPaddnxt{
	padding-top: 3em;
}
