.col-prm{
	 background-color: #212A2E;
}

.requests{
	background-image : url('../../assets/requests.png');
	background-size: 35px;
	height: 35px;
	width: 35px;
	opacity: 1;
	cursor: pointer;
}
.navbar-toggler-icon{
	/* background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00'); */
	/* background-image: url('../../assets/hamburger1.png'); */
	margin-top: 0%;
	height: 30px;
	border: 0px
}

.horizontalLine{
	background-color: rgb(119, 117, 117);	
	height: 1px;
}

.menuItemsHamburger{
	cursor: pointer;
}



@media (max-width: 600px) { 
	.res_heading{
		font-size : 50px;

	}

	.res_para{
		font-size : 20px;
		color: #6B909E;		
	}

}

@media (min-width: 601px)
{
	.para{
		font-size: 25px ; 
		color: #6B909E;
	}
}

.dynamicWidthIncrease{
	border-color : black ; 
	width : 20em;
}

.peopleDropdown{
	position: absolute;
	z-index: 1;
	overflow-y: auto;
	width: 100%;
	margin-top: 37px;
	max-height: 300px;
	background-color: #F6F6F6;
}


.requestsDropdown{
	position: absolute;
	z-index: 1;
	overflow-y: auto;
	width: 16em;
	margin-top: 12px;
	margin-right: 100px;
	max-height: 300px;
	background-color: #F6F6F6;
}


@media (max-width: 399px) { 
	.requestsDropdownHamburger{
		position: absolute;
		z-index: 1;
		overflow-y: auto;
		width: 250px;
		margin-top: 12px;
		margin-right: 100px;
		max-height: 300px;
		background-color: #F6F6F6;
	}
	

}

@media (min-width: 400px)
{
	.requestsDropdownHamburger{
		position: absolute;
		z-index: 1;
		overflow-y: auto;
		width: 18em;
		margin-top: 12px;
		margin-right: 100px;
		max-height: 300px;
		background-color: #F6F6F6;
	}
	
}

.buttonStyle{
	width : 50px;
}